<div class="centered-content">
    <div class="model-box has-background-white">
        <form *ngIf="truck" (ngSubmit)="id ? edit(truckDetailForm) : create(truckDetailForm)" #truckDetailForm="ngForm">
            <h2>{{ !id ? 'Create' : 'Edit' }} Truck {{ truck.truckId }}</h2>
            <div>
                <label for="truckId" *ngIf="!id">Truck Id</label>
                <input name="truckId" *ngIf="!id" [(ngModel)]="truck.truckId" [readonly]="id" ngModel>

                <label for="tare">Tare</label>
                <input name="tare" type="number" [(ngModel)]="truck.tare" required ngModel>

                <label for="loadCapacity">Load Capacity</label>
                <input name="loadCapacity" type="number" [(ngModel)]="truck.loadCapacity" required ngModel>

                <div>Status</div>
                <mat-slide-toggle name="active" color="blue"
                                  [(ngModel)]="truck.active">{{ truck.active ? "Active" : "Inactive" }}
                </mat-slide-toggle>
                <div></div>

                <label for="batteryId">Battery Id</label>
                <input name="batteryId" type="number" [(ngModel)]="truck.battery.batteryId" [readonly]="id" ngModel>

                <label for="maximumBattery">Maximum Battery</label>
                <input name="maximumBattery" type="number"
                       [(ngModel)]="truck.battery.maximumBattery" required ngModel>

                <label for="autonomy">Autonomy</label>
                <input name="autonomy" type="number" [(ngModel)]="truck.battery.autonomy" required ngModel>

                <label for="chargingTime">Charging Time</label>
                <input name="chargingTime" type="number" [(ngModel)]="truck.battery.chargingTime" required ngModel>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-primary" *ngIf="id"
                        [disabled]="!truckDetailForm.form.valid">Save
                </button>
                <button type="submit" class="btn btn-outline-primary" *ngIf="!id"
                        [disabled]="!truckDetailForm.form.valid">Create
                </button>
                <button type="button" class="btn btn-outline-secondary" routerLink="/trucks">Cancel</button>
            </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="!success && success != null" class="alert alert-danger alert-dismissible fade show"
                     role="alert">{{ this.errorMessage }}
                </div>
                <div *ngIf="success" class="alert alert-success alert-dismissible fade show"
                     role="alert">{{ this.successMessage }}
                </div>
            </div>
        </form>
    </div>
</div>
