<div class="centered-content">
    <div class="model-box has-background-white">
        <form (ngSubmit)="edit(userDetailsForm)" #userDetailsForm="ngForm">
            <h2>Change Password</h2>
            <div>
                <div *ngIf="role === '1'">
                    <label for="user-email">Email</label>
                    <input class="email" type="text"  name="email" [(ngModel)]="email" required ngModel>
                </div>

                <div *ngIf="role !== '1'">
                    <label for="user-email">Email</label>
                    <input class="email" type="text"  name="email" [(ngModel)]="email" required readonly ngModel>
                </div>

                <label for="user-password">Password </label>
                <input name="password" type="text" [(ngModel)]="password" required ngModel />
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-primary" [disabled]="userDetailsForm.form.valid">Save</button>
                <button type="button" class="btn btn-outline-secondary" routerLink="/users">Cancel</button>
            </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="!success && success != null" class="alert alert-danger">{{this.errorMessage}}</div>
                <div *ngIf="success" class="alert alert-success">{{this.successMessage}}</div>
            </div>
        </form>
    </div>
</div>
