<div class="centered-content">
    <div class="model-box has-background-white">
        <form *ngIf="deliveryPlan" (ngSubmit)="create(deliveryPlanDetailsForm)" #deliveryPlanDetailsForm="ngForm">
            <h2>Create Delivery Plan</h2>
            <div>
                <label for="new-delivery-plan-truckId">Truck ID </label>
                <select name="truckId" [(ngModel)]="deliveryPlan.truckId" required ngModel >
                    <option disabled>Choose the TruckId</option>
                    <option selected *ngFor="let truck of trucks" value="{{truck.truckId}}">{{truck.truckId}}</option>
                </select>

                <label for="new-delivery-plan-date">Date </label>
                <input name="date" type="text" placeholder="dd/MM/yyyy" max="2999-12-31" onfocus="(this.type='date')" onblur="(this.type='text')" [(ngModel)]="deliveryPlan.date" required ngModel />
                
                <label for="new-delivery-plan-algorithm">Algorithm </label>
                <select name="algorithm" [(ngModel)]="deliveryPlan.algorithm" required ngModel >
                    <option selected disabled>Choose the algorithm</option>
                    <option selected value="1">Sequencia Custo Minimo</option>
                    <option selected value="2">Heuristica Tempo</option>
                    <option selected value="3">Heuristica Massa</option>
                    <option selected value="4">Heuristica Tempo e Massa</option>
                    <option selected value="5">Algoritmo Genético</option>
                    <option selected value="6">Algoritmo Simulado</option>
                </select>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-primary">Create</button>
                <button type="button" class="btn btn-outline-secondary" routerLink="/delivery-plan">Cancel</button>
            </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="!success && success != null" class="alert alert-danger">{{this.errorMessage}}</div>
                <div *ngIf="success" class="alert alert-success">{{this.successMessage}}</div>
            </div>
        </form>
    </div>
</div>