.no-link-style {
    text-decoration: none;
    color: inherit;
}

.no-link-style:hover {
    text-decoration: none;
    color: inherit;
}

.mat-toolbar {
    display: flex;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}
