.recordlistrecord {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  input {
    display: block;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
  }

  select{
    display: block;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
  }
  
  .packagings li {
    position: relative;
    cursor: pointer;
  }
  
  .packagings li:hover {
    left: .1em;
  }
  
  .recordlistrecord {
    color: #333;
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    display: block;
    width: 100%;
  }
  
  .recordlistrecord:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
  }
  
  .recordlistrecord:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .recordlistrecord .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0;
    background-color: #405061;
    line-height: 1em;
    position: relative;
    left: -8px;
    top: -4px;
    height: 1.8em;
    width: 6em;
    text-align: left;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }