<div class="centered-content">
    <div class="model-box has-background-white">
        <form *ngIf="routeModel" (ngSubmit)="id ? edit(routeForm) : create(routeForm)" #routeForm="ngForm">
            <h2>{{!id ? 'Create' : 'Edit'}} Route {{routeModel.routeId}}</h2>
            <div class="form-group" *ngIf="!id">
                <label for="inputRouteId">Route ID</label>
                <input class="form-control" type="text" name="inputRouteId" [(ngModel)]="routeModel.routeId" required ngModel>
            </div>
            <div class="form-group">
                <label for="idDepartureWarehouse">Departure Warehouse</label>
                <select class="form-control" name="idDepartureWarehouse" [(ngModel)]="routeModel.idDepartureWarehouse" required ngModel>
                    <option disabled>Choose a warehouse</option>
                    <option *ngFor="let wh of warehouses" value="{{wh.identifier}}">{{wh.designation}}</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="idArrivalWarehouse">Arrival Warehouse</label>
                <select class="form-control" name="idArrivalWarehouse" [(ngModel)]="routeModel.idArrivalWarehouse" required ngModel>
                    <option disabled>Choose a warehouse</option>
                    <option *ngFor="let wh of warehouses" value="{{wh.identifier}}">{{wh.designation}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="distance">Distance</label>
                <input class="form-control" type="number" name="distance" [(ngModel)]="routeModel.distance" required ngModel>
            </div>
            
            <div class="form-group">
                <label for="time">Time</label>
                <input class="form-control" type="number" name="time" [(ngModel)]="routeModel.time" required ngModel>
            </div>
            
            <div class="form-group">
                <label for="energy">Energy</label>
                <input class="form-control" type="number" name="energy" [(ngModel)]="routeModel.energy" required ngModel>
            </div>
            
            <div class="form-group">
                <label for="extraTime">Extra Time to Charge</label>
                <input class="form-control" type="number" name="extraTime" [(ngModel)]="routeModel.extraTime" required ngModel>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-primary" *ngIf="id" [disabled]="!routeForm.form.valid">Save</button>
                <button type="submit" class="btn btn-outline-primary" *ngIf="!id" [disabled]="!routeForm.form.valid">Create</button>
                <button type="button" class="btn btn-outline-secondary" routerLink="/routes">Cancel</button>
            </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="!success && success != null" class="alert alert-danger alert-dismissible fade show" role="alert">{{this.errorMessage}}</div>
                <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">{{this.successMessage}}</div>      
            </div>
        </form>
    </div>
</div>