<div class="centered-content">
    <div class="model-box has-background-white">
        <form *ngIf="delivery" (ngSubmit)="id ? edit(deliveryDetailsForm) : create(deliveryDetailsForm)" #deliveryDetailsForm="ngForm">
            <h2>{{!id ? 'Create' : 'Edit'}} Delivery {{delivery.deliveryId}}</h2>
            <div>
                <label for="delivery-id" *ngIf="id">Identifier </label>
                <input name="deliveryId" *ngIf="id" [(ngModel)]="delivery.deliveryId" readonly ngModel />

                <label for="new-delivery-date">Date </label>
                <input name="deliveryDate" type="date" [(ngModel)]="delivery.deliveryDate" (ngModelChange)="onDateChange($event)" required ngModel />

                <label for="new-Weight">Weight </label>
                <input name="deliveryWeight" type="number" [(ngModel)]="delivery.weight" required ngModel />

                <label for="new-warehouse-id">Warehouse ID</label>
                <select name="deliveryWarehouseId" [(ngModel)]="delivery.warehouseId" required ngModel >
                    <option disabled>Choose the warehouse</option>
                    <option *ngFor="let warehouse of warehouses" value="{{warehouse.identifier}}">{{warehouse.designation}}</option>
                </select>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-primary" *ngIf="id" [disabled]="!deliveryDetailsForm.form.valid">Save</button>
                <button type="submit" class="btn btn-outline-primary" *ngIf="!id" [disabled]="!deliveryDetailsForm.form.valid">Create</button>
                <button type="button" class="btn btn-outline-secondary" routerLink="/deliveries">Cancel</button>
            </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="!success && success != null" class="alert alert-danger">{{this.errorMessage}}</div>
                <div *ngIf="success" class="alert alert-success">{{this.successMessage}}</div>
            </div>
        </form>
    </div>
</div>
