<mat-nav-list class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark">
<div href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4">Electric Go</span>
</div>
<hr>
<div *ngIf="role === '1'">
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption menu">Home</span>
    </a>
    <a mat-list-item routerLink="/deliveries" (click)="onSidenavClose()">
        <mat-icon>all_inbox</mat-icon> <span class="nav-caption menu">Deliveries</span>
    </a>
    <a mat-list-item routerLink="/packagings" (click)="onSidenavClose()">
        <mat-icon>inventory_2</mat-icon><span class="nav-caption menu">Packagings</span>
    </a>
    <a mat-list-item routerLink="/routes" (click)="onSidenavClose()">
        <!--<mat-icon>open_with</mat-icon><span class="nav-caption menu">Routes</span>-->
        <mat-icon>swap_horiz</mat-icon><span class="nav-caption menu">Routes</span>
    </a>
    <a mat-list-item routerLink="/trucks" (click)="onSidenavClose()">
        <mat-icon>local_shipping</mat-icon> <span class="nav-caption menu">Trucks</span>
    </a>
    <a mat-list-item routerLink="/warehouses" (click)="onSidenavClose()">
        <mat-icon>warehouse</mat-icon><span class="nav-caption menu">Warehouses</span>
    </a>
    <a mat-list-item routerLink="/delivery-plan" (click)="onSidenavClose()">
        <mat-icon>assignment_turned_in</mat-icon><span class="nav-caption menu">Plannings</span>
    </a>
    <a mat-list-item routerLink="/map" (click)="onSidenavClose()">
        <mat-icon>map</mat-icon><span class="nav-caption menu">Map</span>
    </a>
    <a mat-list-item routerLink="/users" (click)="onSidenavClose()">
        <mat-icon>supervisor_account</mat-icon><span class="nav-caption menu">Users</span>
    </a>
</div>
<div *ngIf="role === '2'">
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption menu">Home</span>
    </a>
    <a mat-list-item routerLink="/deliveries" (click)="onSidenavClose()">
        <mat-icon>all_inbox</mat-icon> <span class="nav-caption menu">Deliveries</span>
    </a>
    <a mat-list-item routerLink="/warehouses" (click)="onSidenavClose()">
        <mat-icon>warehouse</mat-icon><span class="nav-caption menu">Warehouses</span>
    </a>
    <a mat-list-item routerLink="/map" (click)="onSidenavClose()">
        <mat-icon>map</mat-icon><span class="nav-caption menu">Map</span>
    </a>
    <a mat-list-item routerLink="/users" (click)="onSidenavClose()">
        <mat-icon>supervisor_account</mat-icon><span class="nav-caption menu">User</span>
    </a>
</div>
<div *ngIf="role === '3'">
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption menu">Home</span>
    </a>
    <a mat-list-item routerLink="/packagings" (click)="onSidenavClose()">
        <mat-icon>inventory_2</mat-icon><span class="nav-caption menu">Packagings</span>
    </a>
    <a mat-list-item routerLink="/routes" (click)="onSidenavClose()">
        <!--<mat-icon>open_with</mat-icon><span class="nav-caption menu">Routes</span>-->
        <mat-icon>swap_horiz</mat-icon><span class="nav-caption menu">Routes</span>
    </a>
    <a mat-list-item routerLink="/trucks" (click)="onSidenavClose()">
        <mat-icon>local_shipping</mat-icon> <span class="nav-caption menu">Trucks</span>
    </a>
    <a mat-list-item routerLink="/delivery-plan" (click)="onSidenavClose()">
        <mat-icon>assignment_turned_in</mat-icon><span class="nav-caption menu">Plannings</span>
    </a>
    <a mat-list-item routerLink="/map" (click)="onSidenavClose()">
        <mat-icon>map</mat-icon><span class="nav-caption menu">Map</span>
    </a>
    <a mat-list-item routerLink="/users" (click)="onSidenavClose()">
        <mat-icon>supervisor_account</mat-icon><span class="nav-caption menu">User</span>
    </a>
</div>
<hr>
</mat-nav-list>
