<div class="centered-content">
    <div class="model-box has-background-white">
        <div class="title-footer">
            <h3 class="title has-text-primary">
                Delivery Plans
            </h3>
        </div>

        <!-- Form for selecting Delivery and Warehouse -->
        <form (ngSubmit)="onSubmit()">
            <div>
                <label for="delivery">Select Delivery:</label>
                <mat-form-field appearance="fill">
                    <mat-label>Delivery</mat-label>
                    <mat-select [(ngModel)]="selectedDeliveryId" name="deliveryId">
                        <mat-option *ngFor="let delivery of deliveries" [value]="delivery.deliveryId">{{ delivery.deliveryId }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <label for="warehouse">Select Warehouse:</label>
                <mat-form-field appearance="fill">
                    <mat-label>Warehouse</mat-label>
                    <mat-select [(ngModel)]="selectedWarehouseId" name="warehouseId">
                        <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.identifier">{{ warehouse.designation }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <button mat-raised-button color="primary" type="submit">Preview</button>
            </div>
        </form>

        <!-- PDF preview section -->
        <div *ngIf="pdfSrc">
            <h3>PDF Preview</h3>
            <iframe [src]="pdfSrc | safeUrl" width="600" height="400"></iframe>
            <div>
                <button mat-raised-button color="accent" (click)="downloadPdf()">Download PDF</button>
            </div>
        </div>
    </div>
</div>
