<div class="centered-content">
    <div class="model-box has-background-white">
        <div class="title-footer">
            <h3 class="title has-text-primary">
                Delivery Plans
            </h3>
        </div>    
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary btn-sm" routerLink="/delivery-plan-detail/create">Create</button>
        </div>
        <mat-table [dataSource]="dataSource" matSort (matSortChange)="customSort($event)"> 
            <ng-container matColumnDef="truckId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div matSortHeader>
                        <mat-form-field>
                            <input matInput type="text" [(ngModel)]="filterTruckId" (keyup.enter)="updateValue()" placeholder="Truck ID">
                        </mat-form-field>
                    </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" >{{ element.truckId }}</mat-cell>
            </ng-container>
     
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]="filterDate" (keyup.enter)="updateValue()" placeholder="Date">
                    </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" >{{ element.date }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="deliveriesId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field>
                    <input matInput type="number" [(ngModel)]="filterDeliveriesId" (keyup.enter)="updateValue()" placeholder="Deliveries ID">
                </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.deliveriesId }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="paths">

            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field>
                    <input matInput type="text" [(ngModel)]="filterPaths" (keyup.enter)="updateValue()" placeholder="Paths">
                </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.paths }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cost">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-form-field>
                    <input matInput type="number" [(ngModel)]="filterCost" (keyup.enter)="updateValue()" placeholder="Cost">
                </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.cost }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" ></mat-row>
        
        </mat-table>
        <mat-paginator matPaginator
            [length]="totalRecords"
            [pageSizeOptions]="pageSizes"
            showFirstLastButtons
            (page)="pageChanged($event)">
        </mat-paginator>
    </div>
</div>

