<div class="centered-content">
    <div class="model-box has-background-white">
        <form *ngIf="user" (ngSubmit)="email ? edit(userDetailsForm) : create(userDetailsForm)" #userDetailsForm="ngForm">
            <h2 style="font-weight: bold;">{{!email ? 'Create' : 'Edit'}} User: {{user.email}}</h2>
            <div>                
                <div style="display: grid; grid-template-columns: auto auto; gap: 10px;">
                    <div class="form-group" *ngIf="!email">
                        <label for="user-email" style="font-weight: bold;">Email</label>
                        <p class="email">{{user.email}}</p>
                    </div>
                
                    <div>
                        <label for="user-name" style="font-weight: bold;">Username </label>
                        <p>{{user.userName}}</p>
                    </div>
                
                    <div>
                        <label for="user-phonenumber" style="font-weight: bold;">Phone Number </label>
                        <p>{{user.phoneNumber}}</p>
                    </div>
                
                    <div>
                        <label for="user-firstname" style="font-weight: bold;">First Name </label>
                        <p>{{user.firstName}}</p>
                    </div>
                
                    <div>
                        <label for="user-lastname" style="font-weight: bold;">Last Name </label>
                        <p>{{user.lastName}}</p>
                    </div>
                
                    <div class="form-group" *ngIf="!email">
                        <label for="user-password">Password </label>
                        <p>{{user.password}}</p>
                    </div>
                </div>
                
                <label for="user-role" style="font-weight: bold;">Role</label>
                <select name="role" [(ngModel)]="user.role" required ngModel >
                    <option disabled>Choose the role</option>
                    <option *ngFor="let role of roles" value="{{role.name}}">{{role.name}}</option>
                </select>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-primary" *ngIf="email" [disabled]="!userDetailsForm.form.valid">Save</button>
                <button type="submit" class="btn btn-outline-primary" *ngIf="!email" [disabled]="!userDetailsForm.form.valid">Create</button>
                <button type="button" class="btn btn-outline-secondary" routerLink="/users">Cancel</button>
            </div>
            <div class="d-flex justify-content-center">
                <div *ngIf="!success && success != null" class="alert alert-danger">{{this.errorMessage}}</div>
                <div *ngIf="success" class="alert alert-success">{{this.successMessage}}</div>
            </div>
        </form>
    </div>
</div>
